{% extends 'blog/base.html' %}
{% block content %}

<div class="jumbotron">
  <h2>Plase Login!</h2>
  <h3>(Must be a Super User!)</h3>

  <form class="" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="login" class="btn btn-outline-success">Login!</button>
    <input type="hidden" name="next" value="{{next}}">
  </form>

  {% if form.errors %}

    <p>Your username and password didn't match!</p>

  {% endif %}

</div>



{% endblock %}
