<!DOCTYPE html>
{% extends './base.html' %}
{% block content %}

  <div class="jumbotron">
    <h1 class="posttitle">{{post.title}}</h1>
    {% if post.published_date %}
    <div class="date postdate">
      {{ post.published_date }}
    </div>
    {% else %}
    <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
    {% endif %}
    <p class="postcontent" >{{ post.title|safe|linebreaksbr }}</p>
    <p>{{ post.text|safe|linebreaksbr }}</p>


    {% if user.is_authenticated %}

    <a class="btn btn-outline-success" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
    <a class="btn btn-outline-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>

    {% endif %}

    <hr>
    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

    <div class="container">
      {% for comment in post.comments.all %}
      <br>
      {% if comment.approved_comment %}

      {{ comment.created_date }}
      <p>{{ comment.text|safe|linebreaks }}</p>
      <p>Posted by: <strong>{{ comment.author }}</strong></p>


    {% endif %}
    {% if user.is_authenticated and not comment.approved_comment %}
        {{ comment.created_date }}
        <p>{{ comment.text|safe|linebreaks }}</p>
        <p>Posted by: <strong>{{ comment.author }}</strong></p>
        <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
        <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fa fa-check"></span></a>
    {% endif %}
          {% empty %}
          <p>No comments posted.</p>
    {% endfor %}
    </div>
  </div>

{% endblock %}
